@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;400&display=swap');

/* Form */
.container {
	position: absolute;
	top: 33%;
	left: 55%;
	width: 250px;
	height: 28%;
	background-color: #F0F0F0;
	padding: 25px 30px;
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.container .title {
	font-family: 'Heebo', sans-serif;
	font-size: 15px;
	font-weight: 400;
	position: relative;
}

.user-input {
	margin: 20px 0;
	font-family: inherit;
	font-weight: 200;
	font-size: 13px;
}

.message {
	margin-top: 10px;
}

.sender, .message {
	font-family: 'Heebo', sans-serif;
	font-size: 11px;
	font-weight: 100;
}

input {
	margin-top: 0;
	height: 25px;
	width: 94%;
	border-radius: 5px;
	font-family: 'Heebo', sans-serif;
	font-size: 12px;
	font-weight: 400;
	padding-left: 10px;
	padding-top: 3px;
	outline: none;
	background-color: #f2f2f2;
	border: 1px solid #d0d0d0;
}

.icons-text {
	position: fixed;
	margin: 18px 0;
	font-family: 'Heebo', sans-serif;
	font-weight: 100;
	font-size: 12px;
}

.footer {
	position: relative;
	left: 35%;
	font-family: 'Heebo', sans-serif;
	font-weight: 100;
	font-size: 8px;
}
