/* Form */
.container {
    position: absolute;
    top: 22%;
    left: 60%;
    width: 25%;
    height: 50%;
    background-color: #F0F0F0;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.container .title {
    font-size: 15px;
    font-weight: 400;
    position: relative;
}

.user-input {
    margin: 15px 0;
    font-weight: 200;
    font-size: 13px;
}

.sender input {
    margin-top: 0;
    height: 25px;
    width: 94%;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 100;
    padding-left: 10px;
    outline: none;
    background-color: #F0F0F0;
    border: 1px solid #d0d0d0;
}

.sender {
    margin-bottom: 10px;
}

.message input {
    margin-top: 0;
    height: 25px;
    width: 94%;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 100;
    padding-left: 10px;
    outline: none;
    background-color: #F0F0F0;
    border: 1px solid #d0d0d0;
}

/* Toggle */
input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
    position: absolute;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 19px;
	background: #a89fc2;
    border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 100px;
	position: absolute;
    top: 40%;
    left: 73%;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 15px;
	height: 15px;
	background: #f7f7f7;
	border-radius: 50%;
	transition: 0.2s;
}

input:checked + label {
	background: #796ba5;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

input:checked + label:after {
	left: calc(100% - 17px);
}

.dark-light-theme{
    position: absolute;
    top: 40%;
}

.button {
    position: absolute;
    color: #fff;
    top: 86%;
    left: 10%;
    height: 45px;
    width: 80%;
    border: none;
}

.button input {
    border-radius: 5px;
    border: 1px solid #353535;
    height: 100%;
    width: 100%;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #353535;
    cursor: pointer;
    transition: 0.18s linear;
}

.button input:hover {
    background-color: #9c8fc7;
    color: #fff;
    border: none;
}

.button input:active {
  transform: scale(0.90);
}