/* Form */
.container {
    position: absolute;
    top: 22%;
    left: 60%;
    width: 25%;
    height: 50%;
    background-color: #F0F0F0;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.container .title {
    font-size: 18px;
    font-weight: 400;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 60px;
    border-radius: 5px;
    background: linear-gradient(#e6e6e6, #4e3e87);
}

.user-input {
    margin: 20px 0;
}

.details {
    font-weight: 200;
    font-size: 14px;
}

.input-box input {
    margin-top: 4px;
    height: 30px;
    width: 94%;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 100;
    padding-left: 10px;
    outline: none;
    background-color: #F0F0F0;
    border: 1px solid #d0d0d0;
}

input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
    position: absolute;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 19px;
	background: #a89fc2;
    border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 100px;
	position: absolute;
    top: 30%;
    left: 73%;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 15px;
	height: 15px;
	background: #f7f7f7;
	border-radius: 50%;
	transition: 0.2s;
}

input:checked + label {
	background: #796ba5;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

input:checked + label:after {
	left: calc(100% - 17px);
}

.dark-light-theme{
    position: absolute;
    top: 30%;
    font-size: 14px;
    font-weight: 200;
}

form .button {
    position: absolute;
    top: 86%;
    height: 45px;
    width: 78%;
}

.button input {
    background: #8a7cb8;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.2s linear;
}

.button input:active {
  transform: scale(0.92);
}