@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;400&display=swap');
* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #99c9e9, #392974 );
}

.iphone-body {
    width: 280px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 15px solid #000;
    background-image: url('image/iphone-SE-2020-wallpaper-white-ispazio-wallpapers-central-idownloadblog.png');
    background-repeat: no-repeat;
    background-size: 300px 600px;
    border-radius: 49px;
    box-shadow: inset #000 0 0 0 1px, rgb(42, 32, 58) 0px 0 3px 0px, rgb(24, 24, 24) -3px 2px, #162b52 -20px 20px 50px;
}

.shadow {
    width: 280px;
    height: 540px;
    position: absolute;
    background-image: linear-gradient(-27deg,#444,#000 10%, #000 42%, #333, #000 57%, #000 91%, #444);
    opacity: 0.3;
}

.shade {
	position: absolute;
	left: -9px;
	top: -7px;
	width: 296px;
	height: 616px;
    border-radius: 40px;
	border-bottom: none;
	opacity: 0.075;
    z-index: 1;
    box-shadow: inset #ededed 0 0 12px 12px;
}

.notch {
    width: 280px;
    height: 60px;
    background-color: #000;
    position: absolute;
}

.lower-notch {
    width: 280px;
    height: 60px;
    background-color: #000;
    position: absolute;
    top: 540px;
}

.home {
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: linear-gradient(32deg,#303030,#080808,#101010);
    top: 12px;
    left: 115px;
    z-index: 10;
}
.home div {
    background: #000;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 10;
}  

.speaker {
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background: #000;
    position: absolute;
    top: 18px;
    left: 41%;
    box-shadow: inset #242424 0 0 4px;
    z-index: 10;
}

.camera {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: radial-gradient(rgba(91, 91, 112, 0.85), transparent 40%), 
                radial-gradient(#505050,#202020 55%,#080808 70%);
    background-position: 3px 0;
    position: absolute;
    top: 16px;
    left: 32%;
    z-index: 10;
}

.glare {
    position: absolute;
    top: -1px;
    left: -10%;
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05),
                15px 25px 10px rgba(0, 0, 0, 0.01),
                15px 20px 20px rgba(0, 0, 0, 0.05),
                inset -10px -10px 15px rgba(255, 255, 255, 0.1);
}

.glare:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 6px;
    background: #A9A9A9;
    width: 2px;
    height: 2px;
    border-radius: 50%
}

.glare:after {
    content: '';
    position: absolute;
    top: 5.5px;
    left: 6px;
    background: #D0D0D0;
    width: 1px;
    height: 1px;
    border-radius: 50%
}

.volume {
    border-radius: 10px;
    position: absolute;
    background: #080808;
    top: 130px;
    left: -20px;
    transform: rotateY(-60deg);
    transform-style: preserve-3d;
    box-shadow: inset #292A2F 4px 0 8px 1px, #181818 -1px 0px 2px;
}

.volume div {
    width: 8px;
    height: 44px;
    background: #101010;
    border-radius: 10px;
    position: absolute;
    box-shadow: #181818 1px 1px, #101010 1px 1px,  #080808 3px 3px, inset #101010 3px 0 3px;
}
  
.volume div:first-child {
    top: 2px;
    left: -2px;
}

.volume div:last-child {
    top: 60px;
    left: -2px;
}

.off-on-button {
    border-radius: 10px;
    position: absolute;
    background: #181818;
    top: 130px;
    left: 298px;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    box-shadow: inset #292A2F 4px 0 8px 1px, #101010 1px 0px 2px;
}

.off-on-button div {
    width: 4px;
    height: 44px;
    background: #101010;
    border-radius: 10px;
    position: absolute;
    box-shadow: #181818 1px 1px, #101010 1px 1px,  #080808 3px 3px, inset #101010 3px 0 3px;
}

.upper-left-toggler {
    height: 4px;
    width: 6px;
    position: absolute;
    background: #080808;
    top: 40px;
    left: -19px;
    transform: rotateY(65deg);
    transform-style: preserve-3d;
    box-shadow: inset #303030 4px 0 8px 1px, #303030 -1px 0px 2px;
}

.upper-left-toggler div {
    width: 8px;
    height: 26px;
    background: #101010;
    border-radius: 10px;
    position: absolute;
    top: 26px;
    left: -8px;
    box-shadow: #181818 1px 1px, #101010 1px 1px,  #080808 3px 3px, inset #101010 3px 0 3px;
}

.upper-right-line {
    height: 4px;
    width: 4px;
    position: absolute;
    background: #080808;
    top: 40px;
    left: 291px;
    transform: rotateY(65deg);
    transform-style: preserve-3d;
    box-shadow: inset #202020 0 0 8px 1px, #202020 1px 0 2px;
}

.lower-left-line {
    height: 4px;
    width: 6px;
    position: absolute;
    background: #080808;
    top: 560px;
    left: -19px;
    transform: rotateY(65deg);
    transform-style: preserve-3d;
    box-shadow: inset #303030 0 0 8px 1px, #303030 1px 0 2px;
}

.lower-right-line {
    height: 4px;
    width: 4px;
    position: absolute;
    background: #080808;
    top: 560px;
    left: 291px;
    transform: rotateY(65deg);
    transform-style: preserve-3d;
    box-shadow: inset #202020 0px 0 8px 1px, #202020 1px 0px 2px;
}
  
.time {
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 50px;
    position: absolute;
    top: 110px;
    left: 28%;
}

.date {
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    position: absolute;
    top: 174px;
    left: 24%;
}

.battery {
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
    font-size: 11px;
    position: absolute;
    top: 62px;
    left: 228px;
}

.battery > div:last-child {
    width: 20px;
    height: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 3px;
    left: 23px;
    border-radius: 3px;
} 

.battery div div:first-child {
    width: 16px;
    height: 6px;
    background: #fff;
    position: absolute;
    border-radius: 1px;
    top: 1px;
    left: 1px;
}
.battery div div:last-child {
    width: 1px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 3px;
    left: 22px;
    border-radius: 0 2px 2px 0;
}

.lock {
    color: #fff;
    position: absolute;
    top: 62px;
    left: 201px;
}

.lock div:first-child {
    width: 6px;
    height: 4px;
    background: #F5F5F5;
    position: absolute;
    top: 8px;
    left: -62px;
}
.lock div:last-child {
    width: 2px;
    height: 2px;
    background: transparent;
    border: 1px solid #F5F5F5;
    position: absolute;
    top: 5px;
    left: -61px;
    border-radius: 10px 10px 0 0;
}

.sim {
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
    font-size: 11px;
    position: absolute;
    top: 62px;
    left: 6px;
}

.wifi {
    position: absolute;
    top: 65px;
    left: 45px;
    padding: 4px;
    border: 4px double transparent;
    border-top-color: white;
    border-radius: 50%;
}

.wifi:before {
    content: '';
    width: 1px;
    height: 1px;
    position: absolute;
    top: 2px;
    left: 3px;
    background-color: #fff;
    border-top-left-radius: 100px;
    border: 1px solid #fff;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

.slide {
    position: absolute;
    top: 500px;
    left: 27%;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #fff;
    color: #fff;
    border-radius: 50%;
    top: 528px;
    left: 47%;
}

.camera-icon {
    position: absolute;
    width: 8px;
    height: 6px;
    background: rgba(211, 211, 211, 1);
    border-radius: 1px;
    top: 528px;
    left: 51%;
}

.camera-icon .lens {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 1);
    border: 1px solid #5f95a3;
    top: 1px;
    left: 2px;
}

.camera-icon .button {
    position: absolute;
    width: 4px;
    height: 2px;
    background-color: rgba(211, 211, 211, 1);
    border-radius: 1px;
    top: -1px;
    left: 2px;
}

.camera-icon .dot {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: #5f95a3;
    top: 1px;
    left: 6px;
}
